<!--
@Author: Nicolas Fazio <webmaster-fazio>
@Date:   25-07-2016
@Email:  contact@nicolasfazio.ch
@Last modified by:   webmaster-fazio
@Last modified time: 25-07-2016
-->

<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <header-content title="Mon Compte" isClassOpacity="true" [btnUserAuth]="null"></header-content>
</ion-header>


<ion-content padding>

  <div *ngIf="isAuth === false">
    <h1 primary text-center>Se connecter</h1>
    <p primary text-center>Connectez-vous à votre compte pour pouvoir ajouter les produits que vous consommez et qui ne sont pas encore dans la base de donnée.</p>
    <br>
    <ion-list class="login_list">
      <ion-item>
        <ion-label fixed>Email</ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="error" class="login_error">
      {{error}}
      </ion-item>
        <br>
        <br>
        <button full (click)="login()">Se connecter</button>
        <button item-center outline (click)="openSignup()">Créer un compte</button>
    </ion-list>
  </div>

  <div *ngIf="isAuth === true" padding>
    <div text-center>
      <h1 primary>
        Salut User !
      </h1>
      <p secondarytext>
        Maintenant que tu est connecté tu peux ajouter un produit si il n'est pas répértorié dans la base de donnée.
      </p>
      <br>
      <button outline primary>Modifier mes infos</button>
      <button outline danger>Se déconnecter</button>
    </div>
    </div>


</ion-content>
