<!--
  Generated template for the ProductRelated component.

  See https://angular.io/docs/ts/latest/api/core/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<div class="acc-item">
  <h3 (click)="onClickToggle($event)" padding class="acc-title">
    Articles similaires ({{ total }})
    <span><ion-icon name="ios-arrow-forward-outline"></ion-icon></span>
  </h3>
  <div class="acc-content">
    <div>
      <ion-list>
        <ion-item *ngFor="let productData of relatedProduct">
          <ion-thumbnail item-left>
            <img [src]="productData.image_thumb_url">
          </ion-thumbnail>
          <h2>{{ productData.product_name }}</h2>
          <p *ngIf="productData.brands != productData.product_name">{{ productData.brands }}</p>
          <button clear item-right secondary>View</button>
        </ion-item>
      </ion-list>
    </div>
  </div>
</div>
