<!--
  Generated template for the ProductNutriment component.

  See https://angular.io/docs/ts/latest/api/core/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<p>Nutriments: </p>
<ul>
  <li >Proteins: {{ nutrimentsInput.proteins_100g }}gr</li>
  <li >Lipides: {{ nutrimentsInput.fat_100g }}gr</li>
  <li >Sucres:
    <span>
      <span *ngIf="nutrimentsInput.sugars_100g">{{ nutrimentsInput.sugars_100g }}</span>
      <span *ngIf="!nutrimentsInput.sugars_100g">{{ nutrimentsInput.carbohydrates_100g }}</span>
    </span>
    gr
  </li>
  <li >Fibres: {{ nutrimentsInput.fiber_100g }}gr</li>
  <li >Sel: {{ nutrimentsInput.salt_100g }}gr</li>
</ul>
