.search {
  background-color: #cecece;
}

  ion-searchbar{
    background-color: #ffffff;
  }
  input.searchbar-input {
      box-shadow: none;
      border-bottom: solid 1px color($colors, primary);
  }
.ion-md-arrow-back {
  color: color($colors, primary);
}
.searchbar-search-icon {
  color: color($colors, secondary);
}
