
product-focus {
  background : color($colors, primary);
}
.line-badge {
  background: none;
  border: solid 1px color($colors, secondarytext);
  color: #2d2d2d;
  margin: 3px;
}
.focusTab {
  padding: 45px 0px 10px;
  background-color: color($colors, primary)
}
.sugarZone {
  height: 100%;
  margin: auto;
  text-align: center;
  transform: rotate(180deg);
  transform: rotateX(180deg);
}
.sugar {
    display: inline-block;
    vertical-align: top;
    height: 5rem;
    background: #fff;
    border: solid 1px color($colors, primary);
    border-radius:2px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}
.swiper-wrapper {
  margin-bottom: 40px;
}
.swiper-pagination-bullet {
  background: #fff;
}
.slide-zoom h3 {
  margin-top: 0rem;
}
