<!--
  Generated template for the ProductDetailPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar blanc>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="result === 1">
    <product-header *ngIf="productData" [productDataHeaderInput]="productData"></product-header>
    <product-focus *ngIf="focusData" [productFocusInput]="focusData"></product-focus>
    <hr>
    <product-nutriment *ngIf="nutriments" [nutrimentsInput]="nutriments"></product-nutriment>

    <product-additive *ngIf="additives_tags" [additiveInput]="additives_tags"></product-additive>

  </div>
  <div *ngIf="result === 0">
    <p>Produit non trouvé</p>
  </div>
</ion-content>
