
product-focus {
  background : color($colors, primary);
}
.line-badge {
  background: none;
  border: solid 1px color($colors, secondarytext);
  color: color($colors, secondarytext);
  margin: 3px;
}
