<!--
@Author: Nicolas Fazio <webmaster-fazio>
@Date:   25-07-2016
@Email:  contact@nicolasfazio.ch
@Last modified by:   webmaster-fazio
@Last modified time: 25-07-2016
-->

<!--
  Generated template for the MenuSlide component.

  See https://angular.io/docs/ts/latest/api/core/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<ion-menu [content]="content">
  <ion-toolbar>
    <ion-title>Pages</ion-title>
  </ion-toolbar>
  <ion-content>
    <ion-list>
      <button ion-item>
        Login
      </button>
      <button ion-item>
        Signup
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
