<!--
  Generated template for the MenuSlide component.

  See https://angular.io/docs/ts/latest/api/core/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<ion-menu [content]="contentInit" side="right">
  <ion-toolbar primary>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
  <ion-content>
    <ion-list>
      <button ion-item>
        <ion-icon name="barcode"></ion-icon> Scaner un produit
      </button>
      <button ion-item (click)="eventClick('SearchPage')">
        <ion-icon name="search"></ion-icon> Faire une recherche
      </button>
      <button ion-item>
        A propos
      </button>
      <button ion-item>
        Contact
      </button>
      <button ion-item *ngIf="btnUserAuth === true" (click)="eventClick('UserPage')">
        <ion-icon name="log-out" ></ion-icon> Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
