<!--
  Generated template for the HistoryPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <header-content title="Produits consultés" (onBack)="onClickBack()" backEnabled={{true}}></header-content>
</ion-header>


<ion-content>

  <ion-list>

    <ion-item *ngFor="let productData of historySearch">
      
      <ion-thumbnail item-left>
        <div class="img_thumb" [style.background-image]="'url(' + productData.image_thumb_url + ')'"></div>
      </ion-thumbnail>
      <h2>{{ productData.product_name }}</h2>
      <p *ngIf="productData.brands != productData.product_name">{{ productData.brands }}</p>
      <ion-icon clear item-right secondary ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>

    </ion-item>

  </ion-list>
</ion-content>
