<!--
  Generated template for the ProductHeader component.

  See https://angular.io/docs/ts/latest/api/core/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<div class="product-header">
  <div class="product-img" [style.background-image]="'url(' + productDataHeaderInput.image_thumb_url + ')'">
  </div>
  <div *ngIf="productDataHeaderInput.product_name " [class.opacity-content]="isClassOpacity" >
    <h1 primary>
      {{ productDataHeaderInput.product_name  }}
      <br />
      <small *ngIf="productDataHeaderInput.quantity ">
        {{ productDataHeaderInput.quantity }}
      </small>
    </h1>

  </div>

</div>
