<!--
  Generated template for the ProductAdditive component.

  See https://angular.io/docs/ts/latest/api/core/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<div class="acc-item">
  <h3 (click)="onClickToggle($event)" padding class="acc-title">
    Additifs ({{total}})
    <span><ion-icon name="ios-arrow-forward-outline"></ion-icon></span>
  </h3>
  <div class="acc-content">
    <div padding>
      <p>
        <ion-badge primary class="line-badge" *ngFor="let additive of additiveData">
          {{ additive }}
        </ion-badge>
      </p>
    </div>
  </div>
</div>
