// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   18-07-2016
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 27-07-2016

.home {
  background-color: #03A9F4;
}
.btn-block-60 {
    min-width: 60%;
}
.table {
    display: table;
    height: 100%;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
